.App {
  text-align: center;
}
a:visited {
  text-decoration: none;
  color: rgb(255, 109, 73);
}
a:hover {
  text-decoration: none;
  color: rgb(255, 109, 73);
}
a:focus {
  text-decoration: none;
  color: rgb(255, 109, 73);
}
a:hover, a:active {
  text-decoration: none;
  color: rgb(255, 109, 73);
}

.Topbar {
  width: 100vw;
  height: 5vh;
  background-color: rgb(253, 228, 207);
  color: rgb(255, 109, 73);
  font-size: 2vw;
}
.CartLink {
  float: right;
  margin-right: 1vw;
}

.Logo {
  float: left; 
}

.HomeText {
  text-align: center;
  margin-top: 15vh;
  font-size: 2vh;
}

.Cartbar {
  width: 100vw;
  height: 15vh;
  background-color: rgb(253, 228, 207);
  color: rgb(255, 109, 73);
  font-size: 1vw;
  bottom: 0px;
  position: sticky;
}

.shopItems {
  text-align: center;
}
